<ul>
	<li><a href="/default/teste0/"><i>&#5861;</i><span>teste0</span></a></li>
	<li><a href="/default/teste1/"><i>&#5861;</i><span>teste1</span></a></li>
	<li><a href="/default/teste2/"><i>&#5861;</i><span>teste2</span></a></li>
	<li><a href="/default/teste3/"><i>&#5861;</i><span>teste3</span></a></li>
	<li><a href="/default/teste4/"><i>&#5861;</i><span>teste4</span></a></li>
	<li><a href="/default/teste5/"><i>&#5861;</i><span>teste5</span></a></li>
	<li><a href="/default/teste6/"><i>&#5861;</i><span>teste6</span></a></li>
	<li><a href="/default/teste7/"><i>&#5861;</i><span>teste7</span></a></li>
	<li><a href="/default/teste8/"><i>&#5861;</i><span>teste8</span></a></li>
	<li><a href="/default/teste9/"><i>&#5861;</i><span>teste9</span></a></li>
</ul>
