:root { /* variaveis globais */
	--background-color-default-body: yellow;
	--background-color-default-body-header: silver;
	--background-color-default-body-menu: white;
	--background-color-default-body-frame: gray;
	--color-default: #303022;

	--espacamento: 40px;
	--menu-largura: 180px;
}

html, body {min-height:100%; padding:0; margin:0; background-color:var(--default-body-background-color);}

#default-header {
	background: var(--background-color-default-body-header);
	width:100%;
	height:40px;
	position:fixed;
	top:0px; left:0px;
	z-index:10;
}

#default-body {
	padding-top:40px;
	background:silver;
	width:100%;
	display:table;
	clear:both;
	z-index:1;
}

.standard-default-body-menu {
	background: var(--background-color-default-body-menu);
	width:180px;
	float:left;
	clear:right;
}

.standard-default-body-frame {
	background: var(--background-color-default-body-frame);
	width: calc(100% - 180px);
	position:absolute;
	right:0;
	min-height: calc(100% - 40px);
	height:auto !important;
	float:left;
	clear:right;
}

.fullview-default-body-menu {
	background: var(--background-color-default-body-menu);
	display: none;
}

.fullview-default-body-frame {
	background: var(--background-color-default-body-frame);
	width: 100%;
	position:absolute;
	right:0;
	min-height: calc(100% - 40px);
	height:auto !important;
}
