<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>weake</title>
		<link type="text/css" rel="stylesheet" href="/static/css/default.css" />
	</head>
	<body>

		<div id="default-header">botao, titulo, logout</div>
		<div id="default-body">
			<div id="default-body-menu"><!--[[include "menu.html"]]--></div>
			<div id="default-body-frame">
				<div id="default-body-frame-content"><!--[[block conteudo]]--></div>
				<div id="default-body-frame-footer">rodape</div>
			</div>
		</div>

		<script type="text/javascript" src="/static/js/responsive-theme-defaut.js"></script>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/vue.min.js"></script>
		<!--[[#block script]]-->

	</body>
</html>
