<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>teste</title>
		<link type="text/css" rel="stylesheet" href="/static/css/default.css" />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/vue.min.js"></script>
	</head>
	<body>
		<img src="/static/image/forip.png" />
		<img src="/static/image/forip.jpg" />
		<img src="/static/image/forip.gif" />
		<h1>Layout</h1>
<!--
	</body>
</html>
-->

<script>
	$(document).ready(function(){
		//alert("esta funcionando");
	});
</script>
