<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>teste</title>
		<link type="text/css" rel="stylesheet" href="/static/css/default.css" />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/vue.min.js"></script>
	</head>
	<body>
			<div class="box" id="head">cabecalho</div>
			<div class="box" id="body">
				<div class="box" id="menu">menu</div>
				<div class="box" id="">
					<div>conteudo</div>
					<div>rodape</div>
				</div>
			</div>
	</body>
</html>
